<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.boxinglab" version="2.0.1">
    <name>Boxing Lab</name>
    <description>
        Haz que tu saco de boxeo sea inteligente
    </description>
    <author email="info@boxinglab.es" href="http://boxinglab.es">
       Roberto Jiménez Valle
    </author>
    <content src="index.html" />
    <access origin="*" />
    <universal-links>
        <host name="https://pyzs8.app.goo.gl/6DtX" scheme="https" />
        <host name="app-box-lab.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback" />
        </host>
    </universal-links>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/icon/android/icon_mdpi.png" />
        <preference name="AndroidLaunchMode" value="singleTask" />
        <preference default="true" name="WAKELOCK" />
        <preference name="Fullscreen" value="true" />
        <feature name="Insomnia">
            <param name="android-package" value="nl.xservices.plugins.Insomnia" />
        </feature>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="Fullscreen" value="true" />
        <feature name="Insomnia">
            <param name="ios-package" value="Insomnia" />
        </feature>
    </platform>
    <engine name="browser" spec="^5.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
    <plugin name="cordova-plugin-buildinfo" spec="^2.0.1" />
    <plugin name="cordova-universal-links-plugin" spec="^1.2.1" />
    <plugin name="cordova-plugin-browsertab" spec="^0.2.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-customurlscheme" spec="^4.3.0">
        <variable name="URL_SCHEME" value="com.firebase.cordova" />
        <variable name="ANDROID_SCHEME" value=" " />
        <variable name="ANDROID_HOST" value=" " />
        <variable name="ANDROID_PATHPREFIX" value="/" />
    </plugin>
    <plugin name="cordova-plugin-device-motion" spec="^2.0.1" />
    <plugin name="cordova-plugin-tts" spec="^0.2.3" />
    <plugin name="cordova-plugin-powermanagement" />
    <plugin name="PhoneGap-KeepScreenOn-plugin" />
    <plugin name="cordova-plugin-device-gyroscope" spec="^0.2.2" />
    <plugin name="cordova-plugin-shake" spec="^0.6.0" />
    <plugin name="cordova-plugin-add-swift-support" spec="^1.7.2" />
    <plugin name="cordova-plugin-dbmeter" spec="^2.1.0" />
    <plugin name="cordova-plugin-media" spec="^5.0.2">
        <variable name="KEEP_AVAUDIOSESSION_ALWAYS_ACTIVE" value="NO" />
    </plugin>
    <plugin name="cordova-plugin-insomnia" spec="^4.3.0" />
    <plugin name="cordova-plugin-camera" spec="^4.0.3" />
    <plugin name="cordova-plugin-x-socialsharing" spec="^5.4.1" />
    <plugin name="cordova-plugin-prevent-screenshot" spec="^1.0.3" />
    <plugin name="cordova-screenshot-master" spec="0.1.0" />
    <plugin name="com.darktalker.cordova.screenshot" spec="~0.1.6" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-ble-central" spec="^1.2.2">
        <variable name="BLUETOOTH_USAGE_DESCRIPTION" value=" " />
    </plugin>
</widget>
