.loader-page {
    position: fixed;
    z-index: 25000;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all .3s ease;
  }
  .loader-page::before {
    content: "";
    position: absolute;
    border: 2px solid rgb(50, 150, 176);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176,0);
    border-top: 2px solid rgba(50, 150, 176,0);
    animation: rotarload 1s linear infinite;
    transform: rotate(0deg);
  }
  @keyframes rotarload {
      0%   {transform: rotate(0deg)}
      100% {transform: rotate(360deg)}
  }
  .loader-page::after {
    content: "";
    position: absolute;
    border: 2px solid rgba(50, 150, 176,.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s ease-out infinite;
    transform: rotate(0deg);
  }

    nav.nav-extended .nav-wrapper {
        max-height: 56px;
    }

    #cabeceraLogo{
        padding: 11px;
        height: 70px;
        padding-left: 0;
    }

    #social-icons a{
        display: inline;
    }
    div#social-icons a i,div#social-icons a {
        max-height: 23px;
        display: inline-table;
    }

    div#social-icons a:hover {
        background-color: #ffffff
    }

    #idiomas-nav{
        margin-top:30px;
    }

    #idiomas-nav a{
        float: left;
        width: 40px;
    }
    #idiomas-nav a:hover{
        background-color: #ffffff
    }

    .fixed{    height: auto;
    position: fixed !important;
    opacity: 1;
    z-index: 999999;
    top: 0;
    width: 100%;}
.margen{    height: auto;
    position: relative;
    opacity: 1;
    z-index: 999;
    width: 100%;
}

.cropme-slider{
    display:none;
}